.event-item .date {
  font-weight: 700;
}

.event-item .title {
  font-weight: 400;
  font-size: 1.1rem;
}

.event-item .description {
  font-weight: 300;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
