.App {
  /* text-align: center; */
  background-color: rgb(46, 46, 46);
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.modal-darkmode.ui.modal>.header,
.modal-darkmode.ui.modal>.content,
.modal-darkmode.ui.modal>.actions {
  background-color: rgb(46, 46, 46);
  color: aliceblue;
}


