.events-container {
  padding-top: 3rem;
}

.event-item .date {
  font-weight: 700;
  text-align: center;
}

.event-item .title {
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
}

.event-item .description {
  font-weight: 300;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .event-item .date {
    text-align: right;
  }

  .event-item .title, .event-item .description {
    text-align: left;
  }
}
