.top-header {
  padding-top: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 1;
}

.top-header .header-logo {
  width: 100%;
  position: fixed;
  text-align: center;
}

.top-header h3 {
  font-size: min(3vw, 3rem);
  font-weight: 600;
  color: aliceblue;
}

.top-header b {
  color: gray;
}

.right-info {
  padding: 1rem 2rem 0;
}

.sub-header {
  margin: 1rem;
}

@media only screen and (max-width: 767px) {
  .top-header .ui.menu .ui.dropdown .menu .item {
    margin: 0 0 8px 0;
  }
}
