.top-header {
  font-family: 'Poppins', -apple-system, 'Helvetica Neue',
    sans-serif;
  padding-top: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(46, 46, 46);
  z-index: 1;
}

.top-header h3 {
  font-size: min(3vw, 3rem);
  font-weight: 600;
}

.top-header b {
  color: gray;
}

.right-info {
  padding: 1rem 2rem 0;
}

.sub-header {
  margin: 1rem;
}
